@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Bungee&display=swap');

body {
  font-family: 'Bungee', cursive;
  color: #eee;
  background-color: #f5f0e1;
  color: #1e3d59;
}
.number {
  background: #ffc13b;
  color: #333;
  font-size: 6rem;
  width: 200px;
  height: 200px;
}
.btn {
  background-color: #1e3d59;
  color: #f5f0e1;
}
.btn:hover {
  background-color: #ff6e40;
  color: #1e3d59;
}
